<!DOCTYPE html>
<!-- This is the "base" html file - should define the header and footer, basic nav, etc.  This is the file that all other html files should extend. -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cass Labs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <!-- Include boostrap css stuff -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


    {% block head %}{% endblock %}
</head>
<body>
    <!-- Include bootstrap js stuff -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <header>
      <a href="/"><h1>Cass Labs</h1></a>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
</body>
</html>

