{% extends "base.html" %}
{% block head %}
<script
    src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
    crossorigin="anonymous">
</script>
{% endblock %}
{% block body %}

<div class="col">
  <h1>Query Field Test</h1>
  <label for="field_name">Query for</label>
  <select id="field_name">
    {% for field_name in field_names %}
    <option value="{{ field_name }}">{{ field_name }}</option>
    {% endfor %}
  </select>

  <input type="text" id="search_value" placeholder="filter...">

  <ul id="results"></ul>
</div>

<script>
  const searchdb = () => {
    $.ajax({
      url: '/search',
      data: {
        field: $('#field_name').val(),
        filter: $('#filter_value').val(),
      },
      type: 'GET',
      success: (response) => {
        let results = $('#results');
        results.empty();
        if (response.length === 0) {
          results.append('<li>No results found</li>');
        } else {
          $.each(response, (index, item) => {
            results.append('<li>' + item + '</li>');
          });
        }
      }
    });
  }

  $(document).ready(() => {
    $('#search_value').on('input', searchdb);
    $('#field_name').on('input', searchdb);
  });
</script>

{% endblock %}
