{% extends "base.html" %}
{% block head %}
<script
    src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
    crossorigin="anonymous">
</script>
{% endblock %}
{% block body %}

<div class="col">
  <h1>Query Field Test</h1>
  
  <form method="POST" action="/field_test/query">  <!-- Added 'action' attribute -->
    <label for="field_name">Query for</label>
    <select id="field_name" name="field_name">  <!-- Added 'name' attribute -->
      {% for field_name in field_names %}
      <option value="{{ field_name }}">{{ field_name }}</option>
      {% endfor %}
    </select>

    <input type="text" id="search_value" name="search_value" placeholder="filter...">  <!-- Added 'name' attribute -->

    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <ul class="list-group list-group-flush" id="results">
    {% for name in results_fieldTests%}
    <li class="list-group-item">
      {{ name }}
    </li>
    {% endfor %}
  </ul>
  
  <form method="POST" action="/field_test/query">
    <!-- ... Your form elements ... -->
    {% if results_fieldTests %}
    <button type="submit" name="download_tests" class="btn btn-primary">Download Tests</button>
    {% endif %}
  </form>

</div>

{% endblock %}

