{% extends "base.html" %}
{% block head %}
<script
    src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
    crossorigin="anonymous">
</script>
{% endblock %}
{% block body %}

<h1>Query Field Test</h1>
<input type="text" id="search" placeholder="Search...">
<ul id="results"></ul>

<script>
  $(document).ready(function() {
    $('#search').on('input', function() {
      let query = $(this).val();
      $.ajax({
        url: '/search',
        data: {query: query},
        type: 'GET',
        success: (response) => {
          let results = $('#results');
          results.empty();
          if (response.length === 0) {
            results.append('<li>No results found</li>');
          } else {
            $.each(response, (index, item) => {
              results.append('<li>' + item + '</li>');
            });
          }
        }
      });
    });
  });
</script>

{% endblock %}
